EBXworkspace/EBX Server/webapps/ebx-root-1.0/WEB-INF/ebx/schemas/perspective_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX5 DMA instance [reference=Perspective] on Mon Jan 05 08:09:08 CET 2015 by user [admin].-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:ebxs="urn:ebx-schemas:session_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:osd="urn:ebx-schemas:common_1.0">
	<xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd" />
	<xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd" />
	<xs:annotation>
		<xs:appinfo>
			<osd:extensions class="com.orchestranetworks.ui.perspective.PpvSchemaExtensions" />
			<osd:inheritance>
				<dataSetInheritance>all</dataSetInheritance>
			</osd:inheritance>
			<ebxbnd:binding targetDirectory="../_ebx/src/">
				<javaPathConstants typeName="com.orchestranetworks.ui.perspective.PpvPath">
					<nodes prefix="" relativeToRoot="false" root="/root" />
				</javaPathConstants>
			</ebxbnd:binding>
			<osd:resourceBundle source="com.orchestranetworks.i18n.xsdSchema.perspective" />
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="root" osd:access="--">
		<xs:annotation>
			<xs:appinfo>
				<osd:trigger class="com.orchestranetworks.ui.perspective.PpvPerspectiveInstanceTrigger" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="properties" maxOccurs="1" minOccurs="1">
					<xs:complexType>
						<xs:annotation>
							<xs:documentation osd:id="element.root.properties" />
						</xs:annotation>
						<xs:sequence>
							<xs:element name="activated" default="false" maxOccurs="1" minOccurs="1" type="xs:boolean">
								<xs:annotation>
									<xs:documentation osd:id="element.root.properties.activated" />
								</xs:annotation>
							</xs:element>
							<xs:element name="allowedProfiles" maxOccurs="unbounded" minOccurs="0" type="xs:string">
								<xs:annotation>
									<xs:documentation osd:id="element.root.properties.allowedProfiles" />
									<xs:appinfo>
										<osd:otherFacets>
											<osd:constraintEnumeration class="com.orchestranetworks.ui.perspective.PpvProfileEnumeration" />
										</osd:otherFacets>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="defaultSelection" maxOccurs="1" minOccurs="0" type="xs:string">
								<xs:annotation>
									<xs:documentation osd:id="element.root.properties.defaultSelection" />
									<xs:appinfo>
                                       	<osd:uiBean class="com.orchestranetworks.ui.perspective.PpvUIActionMenuItemForeignKeyBeanEditor"/>
										<osd:otherFacets>
											<osd:tableRef>
												<tablePath>/root/menuItem</tablePath>
												<filter>
													<predicate>./type = 'action'</predicate>
												</filter>
											</osd:tableRef>
										</osd:otherFacets>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="menuItem" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:annotation>
							<xs:documentation osd:id="element.root.menuItem" />
							<xs:appinfo>
								<osd:table>
									<primaryKeys>/id</primaryKeys>
									<defaultLabel osd:class="com.orchestranetworks.ui.perspective.PpvUIMenuItemLabelRenderer" />
									<recordForm osd:class="com.orchestranetworks.ui.perspective.PpvUIMenuItemForm" />
								</osd:table>
								<osd:trigger class="com.orchestranetworks.ui.perspective.PpvMenuItemTableTrigger" />
							</xs:appinfo>
						</xs:annotation>
						<xs:sequence>
							<xs:element name="id" maxOccurs="1" minOccurs="1" type="xs:int">
								<xs:annotation>
									<xs:documentation osd:id="element.root.menuItem.id" />
									<xs:appinfo>
										<osd:autoIncrement />
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="type" maxOccurs="1" minOccurs="1" osd:checkNullInput="true">
								<xs:annotation>
									<xs:documentation osd:id="element.root.menuItem.type" />
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration osd:label="Section" value="section">
											<xs:annotation>
												<xs:documentation osd:id="element.root.menuItem.type.enumeration.section" />
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration osd:label="Group" value="group">
											<xs:annotation>
												<xs:documentation osd:id="element.root.menuItem.type.enumeration.group" />
											</xs:annotation>
										</xs:enumeration>
										<xs:enumeration osd:label="Action" value="action">
											<xs:annotation>
												<xs:documentation osd:id="element.root.menuItem.type.enumeration.action" />
											</xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="label" maxOccurs="1" minOccurs="0" osd:access="RW" type="DocumentationType">
								<xs:annotation>
									<xs:documentation osd:id="element.root.menuItem.label" />
								</xs:annotation>
							</xs:element>
							<xs:element name="parent" maxOccurs="1" minOccurs="0" osd:checkNullInput="true" type="xs:string">
								<xs:annotation>
									<xs:documentation osd:id="element.root.menuItem.parent" />
									<xs:appinfo>
									    <osd:uiBean class="com.orchestranetworks.ui.perspective.PpvUIParentMenuItemBeanEditor"/>
										<osd:otherFacets>
											<osd:constraint class="com.orchestranetworks.ui.perspective.PpvMenuItemParentConstraint" />
											<osd:tableRef>
												<tablePath>/root/menuItem</tablePath>
												<filter osd:class="com.orchestranetworks.ui.perspective.PpvParentMenuItemFilter"/>
											</osd:tableRef>
										</osd:otherFacets>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="order" maxOccurs="1" minOccurs="0" type="xs:int">
								<xs:annotation>
									<xs:appinfo>
										<osd:defaultView>
											<hidden>true</hidden>
										</osd:defaultView>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="hasTopSeparator" default="true" maxOccurs="1" minOccurs="1" type="xs:boolean">
								<xs:annotation>
									<xs:documentation osd:id="element.root.menuItem.hasTopSeparator" />
								</xs:annotation>
							</xs:element>
							<xs:element name="icon" maxOccurs="1" minOccurs="0" osd:access="RW">
								<xs:complexType>
									<xs:annotation>
										<xs:documentation osd:id="element.root.menuItem.icon" />
										<xs:appinfo>
											<osd:uiBean class="com.orchestranetworks.ui.perspective.PpvUIIconBeanEditor" />
											<osd:defaultView>
												<displayMode>expanded</displayMode>
											</osd:defaultView>
										</xs:appinfo>
									</xs:annotation>
									<xs:sequence>
										<xs:element name="type" default="css" maxOccurs="1" minOccurs="1" osd:checkNullInput="true">
											<xs:annotation>
												<xs:documentation osd:id="element.root.menuItem.icon.type" />
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration osd:label="Standard" value="css">
														<xs:annotation>
															<xs:documentation osd:id="element.root.menuItem.icon.type.enumeration.css" />
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration osd:label="Image URL" value="url">
														<xs:annotation>
															<xs:documentation osd:id="element.root.menuItem.icon.type.enumeration.url" />
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="reference" maxOccurs="1" minOccurs="0" type="xs:string">
											<xs:annotation>
												<xs:documentation osd:id="element.root.menuItem.icon.reference" />
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="action" maxOccurs="1" minOccurs="0" osd:access="RW">
								<xs:complexType>
									<xs:annotation>
										<xs:documentation osd:id="element.root.menuItem.action" />
										<xs:appinfo>
											<osd:uiBean class="com.orchestranetworks.ui.perspective.PpvUIActionBeanEditor" />
										</xs:appinfo>
									</xs:annotation>
									<xs:sequence>
										<xs:element name="serviceKey" maxOccurs="1" minOccurs="0" type="xs:string">
											<xs:annotation>
												<xs:documentation osd:id="element.root.menuItem.action.serviceKey" />
												<xs:appinfo>
													<osd:otherFacets>
														<osd:constraintEnumeration class="com.orchestranetworks.ui.perspective.PpvServiceKeyEnumeration" />
													</osd:otherFacets>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="serviceParameters" maxOccurs="unbounded" minOccurs="0" osd:access="RW">
											<xs:complexType>
												<xs:annotation>
													<xs:documentation osd:id="element.root.menuItem.action.serviceParameters" />
												</xs:annotation>
												<xs:sequence>
													<xs:element name="name" maxOccurs="1" minOccurs="1" type="xs:Name">
														<xs:annotation>
															<xs:documentation osd:id="element.root.menuItem.action.serviceParameters.name" />
														</xs:annotation>
													</xs:element>
													<xs:element name="value" maxOccurs="1" minOccurs="0" type="xs:string">
														<xs:annotation>
															<xs:documentation osd:id="element.root.menuItem.action.serviceParameters.value" />
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="selectionOnClose" maxOccurs="1" minOccurs="0" type="xs:string">
								<xs:annotation>
									<xs:documentation osd:id="element.root.menuItem.selectionOnClose" />
									<xs:appinfo>
                                      	<osd:uiBean class="com.orchestranetworks.ui.perspective.PpvUIActionMenuItemForeignKeyBeanEditor"/>
										<osd:otherFacets>
 											<osd:tableRef>
												<tablePath>/root/menuItem</tablePath>
												<filter>
													<predicate>(./type = 'action') and (./id != ${../id})</predicate>
												</filter>
											</osd:tableRef>
										</osd:otherFacets>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DocumentationType" osd:class="com.onwbp.base.text.bean.LabelDescription">
		<xs:annotation>
			<xs:appinfo>
				<osd:uiBean class="com.orchestranetworks.ui.perspective.PpvUILabelDescriptionBeanEditor" />
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="localizedDocumentations" maxOccurs="unbounded" minOccurs="0" osd:class="com.onwbp.base.text.bean.LabelDescriptionForLocale">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="locale" maxOccurs="1" minOccurs="0" type="osd:locale" />
						<xs:element name="label" maxOccurs="1" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:documentation osd:id="complexType.DocumentationType.localizedDocumentations.label" />
							</xs:annotation>
						</xs:element>
						<xs:element name="description" maxOccurs="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation osd:id="complexType.DocumentationType.localizedDocumentations.description" />
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="99999" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="com.orchestranetworks.ui.perspective.PpvUIActionAjaxComponent">
		<xs:annotation>
			<xs:appinfo>
				<osd:ajaxComponent class="com.orchestranetworks.ui.perspective.PpvUIActionAjaxComponent" />
			</xs:appinfo>
		</xs:annotation>
	</xs:complexType>
</xs:schema>

