EBXworkspace/Libraries/EBX Core/ebx_CD_5.4.0.0907-0001/ebx.tutorial/webapps/src/ebx-tutorial/WEB-INF/ebx/schema/ebx-tutorial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:annotation>
        <xs:appinfo>
			<osd:extensions class="com.orchestranetworks.tutorial.module.TutorialExtensions" />
            <ebxbnd:binding targetDirectory="../_ebx-tutorial/src">
                <javaPathConstants typeName="com.orchestranetworks.tutorial.module.Paths">
                    <nodes root="/root" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Books publications</osd:label>
                <osd:description>

				--------------------------------------------------------------------------
				XML schema example about book publication thema
				--------------------------------------------------------------------------
				
				</osd:description>
            </xs:documentation>
            <xs:documentation xml:lang="fr-FR">
                <osd:label>Publications de livres</osd:label>
                <osd:description>
				-------------------------------------------------------------------------------------------
				Exemple de sch&#233;ma XML sur le th&#232;me de la publication de livres
				-------------------------------------------------------------------------------------------
				
				</osd:description>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Titles" type="Title" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Publishers" type="Publisher" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Authors" type="Author" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Royalties" type="Royalty" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Title">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Titles</osd:label>
                <osd:description>Book titles</osd:description>
            </xs:documentation>
            <xs:documentation xml:lang="fr-FR">
                <osd:label>Titres</osd:label>
                <osd:description>Titres de livres</osd:description>
            </xs:documentation>
            <xs:appinfo>
                <osd:table>
                    <primaryKeys>/title_id </primaryKeys>
                    <defaultLabel>${./title} [${./title_id}]</defaultLabel>
                </osd:table>
                <osd:uiFilter class="com.orchestranetworks.tutorial.filters.AuthorFilter">
                    <label>Authors filter</label>
                    <label xml:lang="en-US">Authors filter</label>
                    <label xml:lang="fr-FR">Filtre Auteurs</label>
                </osd:uiFilter>
                <osd:uiFilter class="com.orchestranetworks.tutorial.filters.PublisherFilter">
                    <label>Publisher filter</label>
                    <label xml:lang="en-US">Publisher filter</label>
                    <label xml:lang="fr-FR">Filtre Editeur</label>
                </osd:uiFilter>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title_id">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Id</osd:label>
                        <osd:description>Title identifier</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Id</osd:label>
                        <osd:description>Identifiant du titre</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="7"/>
                        <xs:pattern value="[A-Z][0-9]{6}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="title">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Title</osd:label>
                        <osd:description>Title</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Titre</osd:label>
                        <osd:description>Titre</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="type" default="Unknown">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Type</osd:label>
                        <osd:description>Title type</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Type</osd:label>
                        <osd:description>Type de titre</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                        <xs:enumeration value="Business &amp; Technology"/>
                        <xs:enumeration value="Arts &amp; Entertainment"/>
                        <xs:enumeration value="Fiction"/>
                        <xs:enumeration value="Health &amp; Spirituality"/>
                        <xs:enumeration value="Lifestyle, Family &amp; Home"/>
                        <xs:enumeration value="Non fiction"/>
                        <xs:enumeration value="Recreation"/>
                        <xs:enumeration value="Unknown"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="pub_id">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Publisher</osd:label>
                        <osd:description>Publisher</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Editeur</osd:label>
                        <osd:description>Editeur</osd:description>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <tablePath>/root/Publishers</tablePath>
                                <display>
                                    <pattern>${./pub_id} - ${./name}</pattern>
                                </display>
                            </osd:tableRef>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="au_id">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Author</osd:label>
                        <osd:description>Author</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Auteur</osd:label>
                        <osd:description>Auteur</osd:description>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <tablePath>/root/Authors</tablePath>
                                <display>
                                    <pattern>${./au_id} - ${./firstname} ${./lastname}</pattern>
                                </display>
                            </osd:tableRef>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="unit_price" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Price</osd:label>
                        <osd:description>Title price</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Prix</osd:label>
                        <osd:description>Prix du titre</osd:description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="total_sales" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Sales</osd:label>
                        <osd:description>Total sales</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Ventes</osd:label>
                        <osd:description>Total des ventes</osd:description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="front_picture" type="osd:resource" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Front page</osd:label>
                        <osd:description>Front page picture</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Couverture</osd:label>
                        <osd:description>Photo de la couverture</osd:description>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:uiBean class="com.orchestranetworks.tutorial.editor.PictureEditor"/>
                        <osd:otherFacets>
                            <osd:FacetOResource moduleName="wbp" resourceType="ext-images" relativePath="frontpages/"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Publisher">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Publishers</osd:label>
                <osd:description>Book publishers</osd:description>
            </xs:documentation>
            <xs:documentation xml:lang="fr-FR">
                <osd:label>Editeurs</osd:label>
                <osd:description>Editeurs de livres</osd:description>
            </xs:documentation>
            <xs:appinfo>
                <osd:table>
                    <primaryKeys>/pub_id </primaryKeys>
                    <defaultLabel>${./name} [${./pub_id}]</defaultLabel>
                </osd:table>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pub_id">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Id</osd:label>
                        <osd:description>Publisher identifier</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Id</osd:label>
                        <osd:description>Identifiant de l'&#233;diteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                        <xs:pattern value="[0-9]{4}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="name">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                        <osd:description>Publisher name</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Nom</osd:label>
                        <osd:description>Nom de l'&#233;diteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>City</osd:label>
                        <osd:description>City where the publisher lives</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Ville</osd:label>
                        <osd:description>Ville du domicile de l'&#233;diteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Author">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Authors</osd:label>
                <osd:description>Book authors</osd:description>
            </xs:documentation>
            <xs:documentation xml:lang="fr-FR">
                <osd:label>Auteurs</osd:label>
                <osd:description>Auteurs de livres</osd:description>
            </xs:documentation>
            <xs:appinfo>
                <osd:table>
                    <primaryKeys>/au_id </primaryKeys>
                    <defaultLabel>${./lastname} ${./firstname} [${./au_id}]</defaultLabel>
                </osd:table>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="au_id">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Id</osd:label>
                        <osd:description>Author identifier</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Id</osd:label>
                        <osd:description>Identifiant de l'auteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                        <xs:pattern value="[0-9][0-9]-[0-9]-[0-9][0-9][0-9]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastname">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Lastname</osd:label>
                        <osd:description>Author lastname</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Nom</osd:label>
                        <osd:description>Nom de l'auteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firstname">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Firstname</osd:label>
                        <osd:description>Author firstname</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Pr&#233;nom</osd:label>
                        <osd:description>Pr&#233;nom de l'auteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="address" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Address</osd:label>
                        <osd:description>Author address</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Adresse</osd:label>
                        <osd:description>Adresse de l'auteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>City</osd:label>
                        <osd:description>City where the author lives</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Ville</osd:label>
                        <osd:description>Ville o&#249; r&#233;side l'auteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="country" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Country</osd:label>
                        <osd:description>Country where the author lives</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Pays</osd:label>
                        <osd:description>Pays o&#249; r&#233;side l'auteur</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="linkToAuthorTitles" type="xs:string" minOccurs="0" maxOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Author titles</osd:label>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Titres de l'auteur</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:select>
                            <xpath>/root/Titles[au_id = ${../au_id}]</xpath>
                        </osd:select>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Royalty">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Royalties</osd:label>
                <osd:description>Royalties on book sales</osd:description>
            </xs:documentation>
            <xs:documentation xml:lang="fr-FR">
                <osd:label>Droits d'auteurs</osd:label>
                <osd:description>Droits d'auteurs sur les ventes r&#233;alis&#233;es</osd:description>
            </xs:documentation>
            <xs:appinfo>
                <osd:table>
                    <primaryKeys>/title_id </primaryKeys>
                    <defaultLabel>${./lo_range} &#8364; - ${./hi_range} &#8364;</defaultLabel>
                </osd:table>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Title</osd:label>
                        <osd:description>Title</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Titre</osd:label>
                        <osd:description>Titre</osd:description>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <tablePath>/root/Titles</tablePath>
                                <display>
                                    <pattern>${./title_id} - ${./title}</pattern>
                                </display>
                            </osd:tableRef>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="lo_range" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Min</osd:label>
                        <osd:description>Lower range</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Min</osd:label>
                        <osd:description>Borne inf&#233;rieure</osd:description>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:maxInclusive path="../hi_range">
                                <osd:defaultErrorMessage xml:lang="en-US">low&#160;range&#160;value&#160;must&#160;be&#160;lower&#160;than&#160;higher&#160;range&#160;value</osd:defaultErrorMessage>
                                <osd:defaultErrorMessage xml:lang="fr-FR">la&#160;valeur&#160;de&#160;la&#160;borne&#160;inf&#233;rieure&#160;doit&#160;&#234;tre&#160;inf&#233;rieure&#160;&#224;&#160;la&#160;valeur&#160;de&#160;la&#160;borne&#160;sup&#233;rieure</osd:defaultErrorMessage>
                            </osd:maxInclusive>
                            <osd:excludeSegment minValue="100" maxValue="200">
                                <osd:defaultErrorMessage xml:lang="en-US">low range value must be out of range [100,200]</osd:defaultErrorMessage>
                                <osd:defaultErrorMessage xml:lang="fr-FR">la valeur de la borne inf&#233;rieure doit &#234;tre hors de la plage [100,200]</osd:defaultErrorMessage>
                            </osd:excludeSegment>
                            <osd:constraint class="com.orchestranetworks.tutorial.constraints.CheckRoyaltyLowRange">
                                <param1>1000</param1>
                            </osd:constraint>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="hi_range" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Max</osd:label>
                        <osd:description>Higher range</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Max</osd:label>
                        <osd:description>Borne sup&#233;rieure</osd:description>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="royalty" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Royalties</osd:label>
                        <osd:description>Royalties in percent</osd:description>
                    </xs:documentation>
                    <xs:documentation xml:lang="fr-FR">
                        <osd:label>Droits</osd:label>
                        <osd:description>Pourcentage de droits sur les ventes</osd:description>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:function class="com.orchestranetworks.tutorial.defaultValues.ComputeRoyaltyLowRangeDefaultValue"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SampleUI">
        <xs:annotation>
            <xs:appinfo>
                <osd:service resourcePath="/sampleUI/sampleUI.jsp"/>
            </xs:appinfo>
            <xs:documentation xml:lang="en-US">
                <osd:label>UIServices examples</osd:label>
                <osd:description>This service randomly modifies the price from a random book</osd:description>
            </xs:documentation>
            <xs:documentation xml:lang="fr-FR">
                <osd:label>D&#233;monstration des UI services</osd:label>
                <osd:description>Ce service modifie de fa&#231;on al&#233;atoire le prix d'un livre s&#233;lectionn&#233; au hasard</osd:description>
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="AjaxTitleUpdateAuthorInfoDisplay">
        <xs:annotation>
                <xs:appinfo>
                        <osd:ajaxComponent class="com.orchestranetworks.tutorial.ajax.AjaxTitleUpdateAuthorInfoDisplay"/>
                </xs:appinfo>
        </xs:annotation>
 	</xs:complexType>
    <xs:complexType name="AjaxTitleUpdatePublisherInfoDisplay">
        <xs:annotation>
                <xs:appinfo>
                        <osd:ajaxComponent class="com.orchestranetworks.tutorial.ajax.AjaxTitleUpdatePublisherInfoDisplay"/>
                </xs:appinfo>
        </xs:annotation>
 	</xs:complexType>
</xs:schema>
