EBXworkspace/EBX Home/ebx.software/schemas/internal/module_3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	
	Copyright © Orchestra Networks 2000-2009. All rights reserved. 
	
	******************************************************************************
	EBX5 schema, it is not meant for modifications.
	******************************************************************************
	
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:ebx-schemas:module_3.0" targetNamespace="urn:ebx-schemas:module_3.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:element name="module" type="ModuleDescriptionType"/>
	<xs:complexType name="ModuleDescriptionType">
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>
						A fixed name identifying the module on an instance
						of EBX5. The convention is to use the folder name
						of the module.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ModuleNameType">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="publicPath" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Public path that identifies the web application
						relative to the web server. Servlet
						Specification version 2.3 - SRV9.1: "A web
						application is rooted at a specific path within
						a web server." If this element is not defined,
						then public path is the module name defined
						above.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="installerClassName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Obsolete property.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locales" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Defines the locales used to localize schemas
						within the module.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="locale">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="LocaleType">
										<xs:attribute name="isDefault" type="xs:boolean" use="optional" fixed="true">
											<xs:annotation>
												<xs:documentation>
													Defines the default
													locale for the
													module. This default
													locale is used when
													displaying any
													localized data
													according to the
													process described in
													the Java method
													Session.getLocaleForSchemaNode().
												</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="services" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="service" type="ServiceType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="serviceLink" type="ServiceLinkType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Link to an adaptation service. If a
									service is declared here, it must be
									available in user task definition.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="serviceExtension" type="ServiceExtensionType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Extends an existing service (for
									adding input properties).
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="beans" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Defines the beans to use in EBX5.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bean" type="BeanDeclarationType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ajaxComponents" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Defines Ajax components to use in EBX5.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ajaxComponent" type="AJAXComponentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ModuleNameType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LocaleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ar"/>
			<xs:enumeration value="ar_AE"/>
			<xs:enumeration value="ar_BH"/>
			<xs:enumeration value="ar_DZ"/>
			<xs:enumeration value="ar_EG"/>
			<xs:enumeration value="ar_IQ"/>
			<xs:enumeration value="ar_JO"/>
			<xs:enumeration value="ar_KW"/>
			<xs:enumeration value="ar_LB"/>
			<xs:enumeration value="ar_LY"/>
			<xs:enumeration value="ar_MA"/>
			<xs:enumeration value="ar_OM"/>
			<xs:enumeration value="ar_QA"/>
			<xs:enumeration value="ar_SA"/>
			<xs:enumeration value="ar_SD"/>
			<xs:enumeration value="ar_SY"/>
			<xs:enumeration value="ar_TN"/>
			<xs:enumeration value="ar_YE"/>
			<xs:enumeration value="be"/>
			<xs:enumeration value="be_BY"/>
			<xs:enumeration value="bg"/>
			<xs:enumeration value="bg_BG"/>
			<xs:enumeration value="ca"/>
			<xs:enumeration value="ca_ES"/>
			<xs:enumeration value="ca_ES_EURO"/>
			<xs:enumeration value="cs"/>
			<xs:enumeration value="cs_CZ"/>
			<xs:enumeration value="da"/>
			<xs:enumeration value="da_DK"/>
			<xs:enumeration value="de"/>
			<xs:enumeration value="de_AT"/>
			<xs:enumeration value="de_AT_EURO"/>
			<xs:enumeration value="de_CH"/>
			<xs:enumeration value="de_DE"/>
			<xs:enumeration value="de_DE_EURO"/>
			<xs:enumeration value="de_LU"/>
			<xs:enumeration value="de_LU_EURO"/>
			<xs:enumeration value="el"/>
			<xs:enumeration value="el_GR"/>
			<xs:enumeration value="en"/>
			<xs:enumeration value="en_AU"/>
			<xs:enumeration value="en_BE"/>
			<xs:enumeration value="en_BE_EURO"/>
			<xs:enumeration value="en_CA"/>
			<xs:enumeration value="en_GB"/>
			<xs:enumeration value="en_IE"/>
			<xs:enumeration value="en_IE_EURO"/>
			<xs:enumeration value="en_NZ"/>
			<xs:enumeration value="en_US"/>
			<xs:enumeration value="en_ZA"/>
			<xs:enumeration value="es"/>
			<xs:enumeration value="es_AR"/>
			<xs:enumeration value="es_BO"/>
			<xs:enumeration value="es_CL"/>
			<xs:enumeration value="es_CO"/>
			<xs:enumeration value="es_CR"/>
			<xs:enumeration value="es_DO"/>
			<xs:enumeration value="es_EC"/>
			<xs:enumeration value="es_ES"/>
			<xs:enumeration value="es_ES_EURO"/>
			<xs:enumeration value="es_GT"/>
			<xs:enumeration value="es_HN"/>
			<xs:enumeration value="en_IN"/>
			<xs:enumeration value="es_MX"/>
			<xs:enumeration value="es_NI"/>
			<xs:enumeration value="es_PA"/>
			<xs:enumeration value="es_PE"/>
			<xs:enumeration value="es_PR"/>
			<xs:enumeration value="es_PY"/>
			<xs:enumeration value="es_SV"/>
			<xs:enumeration value="es_US"/>
			<xs:enumeration value="es_UY"/>
			<xs:enumeration value="es_VE"/>
			<xs:enumeration value="et"/>
			<xs:enumeration value="et_EE"/>
			<xs:enumeration value="fi"/>
			<xs:enumeration value="fi_FI"/>
			<xs:enumeration value="fi_FI_EURO"/>
			<xs:enumeration value="fr"/>
			<xs:enumeration value="fr_BE"/>
			<xs:enumeration value="fr_BE_EURO"/>
			<xs:enumeration value="fr_CA"/>
			<xs:enumeration value="fr_CH"/>
			<xs:enumeration value="fr_FR"/>
			<xs:enumeration value="fr_FR_EURO"/>
			<xs:enumeration value="fr_LU"/>
			<xs:enumeration value="fr_LU_EURO"/>
			<xs:enumeration value="hi_IN"/>
			<xs:enumeration value="hr"/>
			<xs:enumeration value="hr_HR"/>
			<xs:enumeration value="hu"/>
			<xs:enumeration value="hu_HU"/>
			<xs:enumeration value="is"/>
			<xs:enumeration value="is_IS"/>
			<xs:enumeration value="it"/>
			<xs:enumeration value="it_CH"/>
			<xs:enumeration value="it_IT"/>
			<xs:enumeration value="it_IT_EURO"/>
			<xs:enumeration value="iw"/>
			<xs:enumeration value="iw_IL"/>
			<xs:enumeration value="ja"/>
			<xs:enumeration value="ja_JP"/>
			<xs:enumeration value="ko"/>
			<xs:enumeration value="ko_KR"/>
			<xs:enumeration value="lt"/>
			<xs:enumeration value="lt_LT"/>
			<xs:enumeration value="lv"/>
			<xs:enumeration value="lv_LV"/>
			<xs:enumeration value="mk"/>
			<xs:enumeration value="mk_MK"/>
			<xs:enumeration value="nl"/>
			<xs:enumeration value="nl_BE"/>
			<xs:enumeration value="nl_BE_EURO"/>
			<xs:enumeration value="nl_NL"/>
			<xs:enumeration value="nl_NL_EURO"/>
			<xs:enumeration value="no"/>
			<xs:enumeration value="no_NO"/>
			<xs:enumeration value="no_NO_NY"/>
			<xs:enumeration value="pl"/>
			<xs:enumeration value="pl_PL"/>
			<xs:enumeration value="pt"/>
			<xs:enumeration value="pt_BR"/>
			<xs:enumeration value="pt_PT"/>
			<xs:enumeration value="pt_PT_EURO"/>
			<xs:enumeration value="ro"/>
			<xs:enumeration value="ro_RO"/>
			<xs:enumeration value="ru"/>
			<xs:enumeration value="ru_RU"/>
			<xs:enumeration value="sh"/>
			<xs:enumeration value="sh_YU"/>
			<xs:enumeration value="sk"/>
			<xs:enumeration value="sk_SK"/>
			<xs:enumeration value="sl"/>
			<xs:enumeration value="sl_SI"/>
			<xs:enumeration value="sq"/>
			<xs:enumeration value="sq_AL"/>
			<xs:enumeration value="sr"/>
			<xs:enumeration value="sr_YU"/>
			<xs:enumeration value="sv"/>
			<xs:enumeration value="sv_SE"/>
			<xs:enumeration value="th"/>
			<xs:enumeration value="th_TH"/>
			<xs:enumeration value="th_TH_TH"/>
			<xs:enumeration value="tr"/>
			<xs:enumeration value="tr_TR"/>
			<xs:enumeration value="uk"/>
			<xs:enumeration value="uk_UA"/>
			<xs:enumeration value="vi"/>
			<xs:enumeration value="vi_VN"/>
			<xs:enumeration value="zh"/>
			<xs:enumeration value="zh_CN"/>
			<xs:enumeration value="zh_HK"/>
			<xs:enumeration value="zh_TW"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- DocumentationType Internal representation -->
	<xs:complexType name="DocumentationType">
		<xs:sequence minOccurs="0">
			<xs:element name="label" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="optional"/>
		<xs:attribute name="id" use="optional"/>
	</xs:complexType>
	<!-- DocumentationType Public representation  -->
	<!--
	<xs:complexType name="DocumentationType">
		<xs:sequence>
			<xs:element name="label" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="optional"/>
	</xs:complexType>
	-->
	<xs:simpleType name="PackageType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\w|_)+(\.(\w|_)+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClassType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:any processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="class" type="PackageType" use="required"/>
	</xs:complexType>
	<xs:complexType name="SchemaRepositoryType">
		<xs:sequence>
			<xs:element name="uniqueName" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">
						Name that uniquely identifies the instance in the repository.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AbsolutePathType">
		<xs:restriction base="xs:string">
			<xs:pattern value="/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SchemaModuleType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">
						Defines the unique module name that contains the schema (default is current module).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="path" type="AbsolutePathType">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">
						Defines the path of the schema.
						Example: /WEB-INF/ebx/schemas/test.xsd
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SchemaLocationType">
		<xs:choice>
			<xs:element name="repository" type="SchemaRepositoryType"/>
			<xs:element name="module" type="SchemaModuleType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SchemaType">
		<xs:sequence>
			<xs:element name="schemaLocation" type="SchemaLocationType"/>
			<xs:element name="activatedForPaths" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">This attribute specifies where the service is available.
By default, if not specified all tables nodes are candidate.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HomeType">
		<xs:sequence>
			<xs:element name="key" type="xs:string"/>
			<xs:element name="withChildren" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">If present all sub children are part of inclusion or exclusion.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:sequence>
			<xs:element name="resourcePath" type="AbsolutePathType">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">
						Defines the absolute module path to the JSP or servlet.
						Examples: /services/test.jsp or /test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayInMenu" minOccurs="0" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">
						Specifies if the service is displayed in service menus.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderInMenu" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">
						Specifies the position of this service according to all the services defined in the module.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="homeActivation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">By default service is not activated on branch and version.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="branch" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en-US">By default, service is not activated on branch.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="included" type="HomeType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="excluded" type="HomeType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
								<xs:attribute name="all" type="xs:boolean" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="en-US">
										If true, service is activated on all branches except 'excluded' list.
										If false, service is deactivated on all branches except 'included' list.
									</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="version" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en-US">By default, service is not activated on version.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="included" type="HomeType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="excluded" type="HomeType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
								<xs:attribute name="all" type="xs:boolean" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="en-US">
										If true, service is activated on all versions except 'excluded' list.
										If false, service is deactivated on all versions except 'included' list.
									</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="disableAsHomeService" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en-US">If present, service is deactivated for direct home usage, it can be available only with workflow, perspective or data modeling context.</xs:documentation>
							</xs:annotation>
							<xs:complexType/>
						</xs:element>
						<xs:element name="permission" type="ClassType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If present, activation continues permission policy by Java class. Java class is only authorized to disable it.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="instanceActivation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">By default service is not activated on instance.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="included" type="SchemaType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="excluded" type="SchemaLocationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="scope">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="onInstance" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en-US">If present, UI service is available at data set level.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="onNode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>If present, activated on node.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="onTable" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en-US">If present, UI service is available at table level.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="onRecord" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en-US">If present, UI service is available at record(s) selection level.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="fixedSelectionSize" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en-US">A number strictly greater than 0 meaning that the UI service only works on a selection of exactly the specified number of records.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:int">
															<xs:minExclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="onHierarchy" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en-US">If present, UI service is available at node level in hierarchical views.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="onPermission" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="branchPermission" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en-US">If present, activated on branches permission records.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="versionPermission" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en-US">If present, activated on versions permission records.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="instancePermission" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en-US">If present, activated on instances permission records.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="permission" type="ClassType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>If present, activation continues permission policy by Java class. Java class is only authorized to disable it.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="availableOnChild" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en-US">If true, service is activated on child instance.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="all" type="xs:boolean" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en-US">
							If true, service is activated on all instances except 'excluded' list.
							If false, service is deactivated on all instances except 'included' list.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="globalActivation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">Global activation settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dataModeling" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en-US">[Internal] If present, activated on data modeling.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="workflow" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en-US">If present, activated on workflow.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="perspective" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en-US">If present, activated on perspectives.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confirmation" type="ConfirmationType" minOccurs="0"/>
			<xs:element name="properties" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en-US">
						Defines input and output parameters.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ConfirmationType">
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Bean parameters
					</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
		<xs:attribute name="disable" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="ServiceLinkType">
		<xs:sequence>
			<xs:element name="importFromSchema" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Schema path where service is defined.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Defines input and output parameters.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="serviceName" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Service Name : must be the same service name in
					associated schema
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ServiceExtensionType">
		<xs:sequence>
			<xs:element name="documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="properties" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Defines input and output parameters.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="extends" type="xs:string"/>
		<xs:attribute name="fromSchema" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Service name extended.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PropertyType">
		<xs:sequence>
			<xs:element name="documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="input" type="xs:boolean"/>
		<xs:attribute name="output" type="xs:boolean"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BeanDeclarationType">
		<xs:sequence>
			<xs:element name="documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="properties" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="className" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="AJAXComponentType">
		<xs:sequence>
			<xs:element name="documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="property" type="AJAXComponentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="className" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="AJAXComponentPropertyType">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
</xs:schema>
